# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment
.venv
env/
pyvenv.cfg

# Packaging
*.egg-info/
dist/

# Backups
*~

# Editors
.idea/
.vscode/

# Platinumshrimp files
*.log
settings.json
