name: Build

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  schedule:
    - cron: '15 9 12 * *' # At 09:15 on the 12th of each month

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4
        with:
          base-ref: ${{ github.event.pull_request.base.sha || 'main' }}
          head-ref: ${{ github.event.pull_request.head.sha || github.ref }}

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: psf/black@stable

  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: snok/install-poetry@v1.4.1

      - name: Install Dependencies using Poetry
        run: poetry install

      - name: Run tests
        run: |
          poetry run coverage run --source=. -m unittest discover -v

      # Temporarily disable Coveralls due to a 500 Server Error.
      # First occurrence on April 6, 2025, after a Coveralls server update.
      # Error message: https://github.com/Tigge/platinumshrimp/actions/runs/14297694029/job/40070978557
      #
      # Once this is fixed, please revert this commit.
      #
      #- name: Coveralls
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  run: |
      #    pip3 install --upgrade coveralls
      #    coveralls --service=github

      - name: Build
        run: |
          poetry build
